Repository NChechulin/scope-cleaner: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-imports, format-code, type-check, bandit, pylint, flake8, requirements, dev-requirements

fix-imports:
  name: fix-imports
  description: Run isort import fixer
  entry: poetry run isort
  language: python
  pass_filenames: true

format-code:
  name: format-code
  description: Run black formatter
  entry: poetry run black
  language: python
  pass_filenames: true

type-check:
  name: type-check
  description: Run mypy static type checker
  entry: poetry run mypy
  language: python
  pass_filenames: true

bandit:
  name: bandit
  entry: poetry run bandit
  language: python
  pass_filenames: true

pylint:
  name: pylint
  entry: poetry run pylint
  language: python

flake8:
  name: flake8
  description: Run flake8 linter
  entry: poetry run flake8
  language: python

requirements:
  name: requirements
  description: Export production requirements
  entry: poetry export -o requirements.txt
  language: python
  pass_filenames: false

dev-requirements:
  name: dev-requirements
  description: Export production and development requirements
  entry: poetry export --with dev -o requirements-dev.txt
  language: python
  pass_filenames: false

more advanced init i guess...
  README.md
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  scope_cleaner/__init__.py
  src/__init__.py
Due: fix-imports, format-code, type-check, bandit, pylint, flake8, requirements, dev-requirements

add typings to gitignore
  .gitignore
Due: none

add ipython dep
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: requirements, dev-requirements

adjust linters
  setup.cfg
Due: none

add procedures to extract valid variable names
  scope_cleaner/variable_extraction.py
Due: fix-imports, format-code, type-check, bandit, pylint, flake8

add actual magic
  scope_cleaner/__init__.py
  scope_cleaner/magic.py
  setup.cfg
Due: fix-imports, format-code, type-check, bandit, pylint, flake8

add README
  README.md
Due: none

add info on installation and package itself
  README.md
  pyproject.toml
Due: requirements, dev-requirements

remove duplication in pyproject.toml and configure urls properly
  pyproject.toml
Due: requirements, dev-requirements

add pypi badge
  README.md
  pyproject.toml
Due: requirements, dev-requirements

lower the min python version to 3.8
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  scope_cleaner/__init__.py
  scope_cleaner/magic.py
  scope_cleaner/variable_extraction.py
Due: fix-imports, format-code, type-check, bandit, pylint, flake8, requirements, dev-requirements

Update README.md
  README.md
Due: none

Path conditions:
  fix-imports: any of: .*.py$
  format-code: any of: .*.py$
  type-check: any of: .*.py$
  bandit: any of: .*.py$
  pylint: any of: .*.py$
  flake8: any of: .*.py$
  requirements: any of: pyproject.toml
  dev-requirements: any of: pyproject.toml
